<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>43</string>
					<key>EndingLineNumber</key>
					<string>13</string>
					<key>StartingColumnNumber</key>
					<string>43</string>
					<key>StartingLineNumber</key>
					<string>13</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>RezervacijaFilmova/Buttons/DateButton.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    
    var currentBorderColors: [Color] = [Color(.blue), Color(.cyan).opacity(0), Color(.cyan).opacity(0)]
    //Nemoj da smaras xCode!!!</string>
				<key>trailing</key>
				<string>
    var selectedBorderColors: [Color] = [Color(.black), Color(.red).opacity(0.7), Color(.red).opacity(0)]
    var selectedGradient: [Color] = [Color(.black).opacity(0.6), Color(.red)]
</string>
			</dict>
			<key>title</key>
			<string>Error: Expected identifier after '.' expression</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
